.place__text {
  max-width: 484px;
}

@media screen and (max-width: 1023px) {
  .place__text {
    max-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .place__text {
    max-width: 352px;
    padding: 0 16px;
  }
}

@media screen and (max-width: 319px) {
  .place__paragraph {
    max-width: 288px;
  }
}
