.footer__copyright {
  color: #fff;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    padding: 48px 0 24px 16px;
    max-width: 186px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }
}
