.footer__url {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.footer__url:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .footer__url {
    max-width: 140px;
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
  }
}
