.cover {
  background: url("../../images/overlay.png") no-repeat center/cover;
  margin: 92px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cover:after {
  content: "";
  width: 0;
  padding-top: calc(740 / 1184 * 100%);
}

.cover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #2a2c2f;
  opacity: 0.3;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .cover {
    margin: 66px auto 0 auto;
  }
}
